src/validation/Untitled-1.asl.json
{
    "Comment": "An example of the Amazon States Language using a choice state.",
    "StartAt": "FirstState",
    "TimeoutSeconds": 0,
    "Version": "1.0",
    "States": {
        "FirstState": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:FUNCTION_NAME",
            "Next": "ChoiceState"
        },
        "ChoiceState": {
            "Type": "Choice",
            "Choices": [
                {
                    "Not": {
                        "Variable": "$.foo",
                        "StringEquals": "blabla",
                        "FirstInvalidProp": {}
                    },
                    "Next": "FirstMatchState"
                },
                {

                    "SecondInvalidProp": {},
                    "And": [
                        {
                            "Not": {
                                "Variable": "$.foo",
                                "StringEquals": "blabla",
                                "ThirdInvalidProp": {}
                            }
                        },
                        {
                            "Or": [
                                {
                                    "Variable": "$.value",
                                    "NumericGreaterThanEquals": 20,
                                    "FourthInvalidProp": {}
                                },
                                {
                                    "Variable": "$.value",
                                    "NumericLessThan": 30
                                }
                            ]
                        }
                    ],
                    "Next": "SecondMatchState"
                }
            ],
            "Default": "DefaultState"
        },
        "FirstMatchState": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:OnFirstMatch",
            "Next": "NextState"
        },
        "SecondMatchState": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:OnSecondMatch",
            "Next": "NextState"
        },
        "DefaultState": {
            "Type": "Fail",
            "Error": "DefaultStateError",
            "Cause": "No Matches!"
        },
        "NextState": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:FUNCTION_NAME",
            "End": true
        }
    }
}